#
# Rissu's Custom Configurations
# For Galaxy A05 and A04
#
CONFIG_LOCALVERSION_AUTO=n
CONFIG_SAMSUNG_LMKD_DEBUG=n
CONFIG_USB_DEBUG_DETAILED_LOG=n
CONFIG_SECURITY_SELINUX_DEVELOP=y
CONFIG_SECURITY_AVC_STATS=n
CONFIG_MTPROF=n
CONFIG_NL80211_TESTMODE=n
CONFIG_SND_DEBUG=n
CONFIG_SND_DEBUG_VERBOSE=n
CONFIG_SND_VERBOSE_PRINTK=n
